.vs\Galaxies\v15\.suo
.vs/Galaxies/v15/Server/sqlite3/db.lock
.vs/Galaxies/v15/.suo
.vs/Galaxies/v15/Server/sqlite3/storage.ide
.vs/Galaxies/v15/Server/sqlite3/storage.ide-shm
.vs/Galaxies/v15/Server/sqlite3/storage.ide-wal
